body {
    font-family: roboto;
    font-weight: 500;
}

div.main-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.inside-wrapper {
    display: flex;
    flex-direction: column;
}

div.block {
    border: 1px solid black;
    padding: 30px;
}

p.number {
    font-weight: 100;
    font-size: 80px;
    margin: 0;
}

p:nth-child(3) {
    font-weight: 300;
    font-size: 40px;
    margin: 0;
    padding-right: 10%;
}

b {
    font-weight: 500;
}